body{
  font-family: 'Public Sans', sans-serif;
}
.App {
  text-align: center;
  /* background-color: aqua; */
  /* height: 100vh; */
}
.home{
  height: 100vh;
}
.moon{
  border-bottom: 4px solid white;
}
.line{
  width: 500px;
  height: 2px;
  background-color: hsla(0, 0%, 100%,70%);
}
.navBar{
  background-color: hsla(0, 0%, 100%,5%);
  backdrop-filter: blur(5px);
}
/* .crew, .technology{
  height: 100vh;
} */
/* ///////////////////////////////////// */

.active{
  border-bottom: 3px solid white;
}
.trans{
  color: hsla(0, 0%, 100%,70%) ;
}
.avg{
  border-top: 2px solid hsla(0, 0%, 100%,50%);
}